<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<%= I18n.locale %>" class="no-js"> <!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>

  </head>
    <body class="typeface-js">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
       
       <header class="main-top">
        <%= render :partial => 'spree/shared/header' %>
       </header>

       <section class="showcase">

            <div class="shop center">

            <%= link_to_cart %>

                <div class="items center">
                <%= flash_messages %>
                    <%= yield %>  
                    <div style="clear:both;"></div>  
                    <%= yield :templates %>
                </div>

            </div>

           <footer>
               <div class="center"></div>
           </footer>    
       </section>


       <section class="last-promo">
           <p>Все изделия ручной работы!</p>
           <p>Приятных впечатлений!</p>
       </section>

       <footer class="main-footer">
           <div class="contacts">
               <p>Телефон по которому можно звонить:</p>
               <p class="marc">8 (495) 9-22-168</p>
           </div>
       </footer>


    </body>
</html>
